@{
    ViewData["Proxy"] = "Proxy";
}

<div class="text-center">
    <h1 class="display-4">intercept</h1>
    <h1 class="display-4">HTTP history</h1>
    <h1 class="display-4">WebSockets history</h1>
    <h1 class="display-4">Options</h1>
</div>
