@{
    ViewData["Target"] = "Target";
}

<div class="text-center">
    <h1 class="display-4">Site Map</h1>
    <h1 class="display-4">Scope</h1>
    <h1 class="display-4">Issue Definitions</h1>
</div>
