@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">KIT325 Group 3</h1>
    <ul>
        <li>
            <h1>Fuzzing Dictionary Used In This Project</h1>
        </li>
        <li>
            <a href="https://github.com/fuzzdb-project/fuzzdb/tree/master/attack/sql-injection/detect">SQL Injection</a>
        </li>
        <li>
            <a href="https://github.com/fuzzdb-project/fuzzdb/blob/master/attack/xml/xml-attacks.txt">XML Attack</a>
        </li>
    </ul>
</div>

